#VSCode Files
/.vscode

#Caches
**/__pycache__
**/.pytest_cache

#Libraries
/shift-env
openh264-1.8.0-win64.dll
shape_predictor_68_face_landmarks.dat
**/mediapipe

#Private Files
/keys
.env

#File Storage
**/static
/Backup

#Debug Files
codeTest.*
PTM.py
/PTM
/AVA